@use "sass:map";

// global > breakpoint
// ------------------------------
$breakpoints: (
  "sm": 500px,
  "md": 768px,
  "lg": 1080px,
  "xl": 1200px,
  "xxl": 1440px,
);

@mixin mq($breakpoint: md) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
