/*!
global > color
------------------------------
*/
:root {
  --text-primary: #6e3f08;
  --text-primary-bg-dark: #dfa767;
  --text-base: #333333;
  --text-white: #ffffff;
  --bg-base: #eeedea;
  --bg-red: #7b1911;
  --bg-darkblue: #141b24;
  --other-logo: #ccaf6b;
  --for-components-bg-black: #000000;
}
