/*!
global > color
------------------------------
*/
:root {
  --website-3-text-primary: #6e3f08;
  --website-3-text-primary-bg-dark: #dfa767;
  --website-3-text-base: #333333;
  --website-3-text-white: #ffffff;
  --website-3-bg-base: #eeedea;
  --website-3-bg-red: #7b1911;
  --website-3-bg-darkblue: #141b24;
  --website-3-other-logo: #ccaf6b;
  --website-2-text-base: #414f5d;
  --website-2-text-white: #ffffff;
  --website-2-text-light-base: #919ca7;
  --website-2-bg-base: #f5f8f9;
  --website-2-bg-grey: #e0ebee;
  --website-2-other-logo: #19bbf0;
  --website-1-bg-primary: #1e4aa4;
  --website-1-bg-light-grey: #eaecef;
  --website-1-bg-lightest-blue: #f5f8fb;
  --website-1-bg-darkblue: #222a38;
  --website-1-bg-white: #ffffff;
  --website-1-bg-white-tranparent: rgba(255, 255, 255, 0.2);
  --website-1-text-base: #49515f;
  --website-1-text-primary: #1e4aa4;
  --website-1-text-white: #ffffff;
  --website-1-text-light-base: #9a9eac;
  --website-1-other-logo: #06235e;
  --website-1-other-logo: #e5ebf0;
  --website-1-other-link: #497fdf;
  --website-1-sep-lightgrey: #eeeeee;
  --for-components-bg-black: #000000;
}
