/*!
global > z-index
------------------------------
*/
:root {
  --z-index-loading: 10000;
  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-menu: 10;
  --z-index-elevated: 5;
  --z-index-default: 1;
  --z-index-background: -1;
}
