@use "../global" as g;

/*!
layout > container
------------------------------
*/

.l-container {
  width: min(90%, var(--width-content));
  margin-inline: auto;
}

.l-container-1 {
  width: min(90%, var(--width-content-l));
  margin-inline: auto;
}

.l-page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--website-3-bg-base);
}

.l-page-main {
  flex: 1;
}
