@use "../global" as g;

/*!
layout > container
------------------------------
*/

.l-container {
  max-width: var(--width-content);
  margin-inline: auto;
}

.l-page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-base);
}

.l-page-main {
  flex: 1;
}
