@use "../global" as g;

/*!
foundation > base
------------------------------
*/
body {
  color: var(--website-3-text-base);
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}
